<html>
<head>
<title>Green Store Privacy Policy
</title>
</head>

<body>

<p>

<h4> Green Store Privacy Policy </h4>
At Green Store, our customers are number one - always. That's why everything we do is focused on providing excellent customer service and delivering low prices.

The information you share with Green Store allows us to provide the products and services you need and want while giving you the very best shopping experience. 

Our founder Sam Walton reminded us that "a promise we make is a promise we keep," and it's our promise to customers that we respect the trust you place in us and the privacy of the information you share. Part of providing superior customer service includes making sure that we're building a relationship of trust with customers. Our way of doing that is to let you know in a clear, prominent, and easily accessible way how we collect, use, share, and above all protect your personal information.

</p>

</body>

</html>
